<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564426246416-883ba4p02oufl28338mshhljvtggcv0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564426246416-883ba4p02oufl28338mshhljvtggcv0c</string>
	<key>API_KEY</key>
	<string>AIzaSyAOpVEXGAfiI7XTuXl4BZvhqqbCCSJLFcE</string>
	<key>GCM_SENDER_ID</key>
	<string>564426246416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leticiamarques.FirebaseMessenger</string>
	<key>PROJECT_ID</key>
	<string>fir-messenger-b1f23</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-messenger-b1f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564426246416:ios:e659013cfbe7a2b5ccbd95</string>
</dict>
</plist>